{% extends 'common/base.html' %}


{% block title %}
    <title>Home</title>
{% endblock title %}
    

{% block content %}
    {% load static %}

    <header class="bg-primary-gradient">
        <div class="container pt-4 pt-xl-5">
            <div class="row pt-2">
                <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                    <div class="text-center">
                        <h1 class="fw-bold">Welcome to PhoneDekho !!</h1>
                        <p class="fw-bold text-success mb-2">Find the Best Phones for the Best Prices</p>
                    </div>
                </div>
                <div class="col-12 col-lg-10 mx-auto">
                    <div class="position-relative" style="display: flex;flex-wrap: wrap;justify-content: flex-end;">
                        <div style="position: relative;flex: 0 0 45%;transform: translate3d(-15%, 35%, 0);"><img class="img-fluid" data-bss-parallax="" data-bss-parallax-speed="0.8" src="{% static 'assets/img/products/4.jpg' %}"></div>
                        <div style="position: relative;flex: 0 0 45%;transform: translate3d(-5%, 20%, 0);"><img class="img-fluid" data-bss-parallax="" data-bss-parallax-speed="0.4" src="{% static 'assets/img/products/5.webp' %}"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <section>
        <div class="container bg-primary-gradient py-5">
        </div>
    </section>


    <section>
        <div class="container py-5">
            <div class="mx-auto" style="max-width: 900px;">
                <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center">
                    
                    <div class="col mb-4">
                        <div class="card bg-primary-light">
                            <div class="card-body text-center px-4 py-5 px-md-5">
                                <h5 class="fw-bold text-primary card-text mb-2">#Reason 1</h5>
                                <h5 class="fw-bold card-title mb-3">Affordable Prices for Everybody</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card bg-secondary-light">
                            <div class="card-body text-center px-4 py-5 px-md-5">
                                <h5 class="fw-bold text-secondary card-text mb-2">#Reason 2</h5>
                                <h5 class="fw-bold card-title mb-3">Latest and the Best</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card bg-info-light">
                            <div class="card-body text-center px-4 py-5 px-md-5">
                                <h5 class="fw-bold text-info card-text mb-2">#Reason 3</h5>
                                <h5 class="fw-bold card-title mb-3">Easy Returns and Support</h5>
                            </div>
                        </div>
                    </div>
                </div><br>
                <div class="container" style="display: flex; justify-content:center;">
                    <a href="{% url 'products' %}" class="btn btn-primary" role="button">Browse Products!</a>
                </div>
            </div>
        </div>
    </section>

    {% endblock content %}