{% extends 'common/base.html' %}

{% block title %}
    <title>Products</title>
{% endblock title %}
    
{% block content %}
{% load static %}
    <section class="py-3">
        <div class="container py-3">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="fw-bold">Products</h2>
                </div>
            </div>
            <!-- search bar -->
            <div class="input-group mb-5" style="display: flex; justify-content: end;">
              <form action="{% url 'searchProducts' %}" method="GET" id="search" style="display: flex; flex-direction: row;">
                {% csrf_token %}
                <input type="text" class="form-control" name="query" id="searchBar" placeholder="Search Products" aria-label="Search Products" aria-describedby="button-addon2" style="border-radius: 20px 0px 0px 20px;" required>
                <button class="btn btn-outline-primary" type="submit" style="border-radius: 0px 20px 20px 0px;">Search</button>
              </form>
              </div>
            <div class="row row-cols-1 row-cols-md-3 g-5">
                <!-- preferred card -->
                
                {% for mobile in data %}
                <div class="col-auto mb-4">
                  <div class="card" style="width: 22rem;">
                    <a href="{% url 'product' mobile.id %}"><img src="{{mobile.imageURL}}" class="card-img-top" alt="img" style="background-color: aquawhite;"></a>
                    <div class="card-body">
                      <h4 class="card-title">{{mobile.brand}} {{mobile.name}}</h4>
                      <h5>Rs.{{mobile.price}}</h5>
                      <p class="card-text">{{mobile.storage}} {{mobile.ram}} - {{mobile.display_size}} inch {{mobile.display_type}} display</p>
                      <button class="btn btn-outline-primary btn-sm update-cart" data-product="{{mobile.id}}" data-action="add" style="margin-top: 2%;margin-left: 65%;">Cart+</button>
                    </div>
                  </div>
                </div>
                <!-- preferred card -->
                {% endfor %}
              </div>
        </div>
    </section>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'assets/js/cart.js' %}"></script>
{% endblock scripts %}
  


