{% extends 'common/base.html' %}

{% block title %}
    <title>Cart</title>
{% endblock title %}

{% block content %}
{% load static %}

<section class="py-3">
    <div class="container py-5">
        <div class="row mx-auto">
            <div class="col">
                <div data-reflow-type="shopping-cart">
                    <div class="reflow-shopping-cart" style="display: block;">
                        <div class="ref-loading-overlay"></div>
                        <div class="ref-message" style="display: none;"></div>
                        <div class="ref-cart" style="display: block;">
                            <div class="ref-heading" style="display: flex; justify-content: center;"><h2>Shopping Cart</h2></div>
                            <div class="ref-th">
                                <div class="ref-product-col">Product</div>
                                <div class="ref-price-col">Price</div>
                                <div class="ref-quantity-col">Quantity</div>
                                <div class="ref-total-col">Total</div>
                            </div>
                            {% if items %}

                            <div class="ref-cart-table">
                                
                                <!-- One Product  -->
                                
                                {% for item in items %}
                                <div class="ref-product">
                                    <div class="ref-product-col">
                                        <div class="ref-product-wrapper"><img class="ref-product-photo" src="{{item.product.imageURL}}" alt="" />
                                            <div class="ref-product-data">
                                                <div class="ref-product-info"><div class="ref-product-name">{{item.product.brand}} {{item.product.name}}</div></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ref-price-col">
                                        <div class="ref-product-price">Rs.{{item.product.price}}</div>
                                    </div>
                                    <div class="ref-quantity-col">
                                        <div class="ref-product-quantity">
                                            <div class="ref-quantity-container" data-reflow-max-qty="999" data-reflow-quantity="2">
                                                <div class="ref-quantity-widget">
                                                    <div class="ref-decrease update-cart" data-product="{{item.product.id}}" data-action="remove" data-slider="true"><span></span></div>
                                                    <input type="text" value="{{item.quantity}}" style="width: 60px;"/>
                                                    <div class="ref-increase update-cart" data-product="{{item.product.id}}" data-action="add" data-slider="true"><span></span></div>
                                                </div>
                                            </div>
                                            <div class="ref-product-qty-message"></div>
                                            <button class="btn btn-outline-danger btn-sm update-cart" data-product="{{item.product.id}}" data-action="removeAll" data-slider="false" style="margin-left: 0.5%; border: none;">Remove</button>
                                        </div>
                                    </div>
                                    <div class="ref-total-col">
                                        <div class="ref-product-total">
                                            <div class="ref-product-total-sum">Rs.{{item.get_item_total}}</div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- One product - end  -->

                            </div>
                            <div class="ref-footer">
                                <div class="ref-links"></div>
                                <div class="ref-totals">
                                    <div class="ref-subtotal">Subtotal: Rs. {{order.get_total}}</div>
                                    <div class="ref-row ref-checkout-buttons">
                                        <a href="{% url 'checkout' %}"><button class="btn btn-primary">Checkout</button></a>
                                    </div>
                                </div>
                            </div>

                            {% else %}
                            <br>
                            <div class="container" style="display: flex; justify-content:center;"><h5>Your cart is empty! :(</h5></div> <br>
                            <div class="container" style="display: flex; justify-content:center;"><h6><a href="{% url 'products' %}">Continue Shopping</a></h6></div>

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
{% endblock content %}

{% block scripts %}
    <script src="{% static 'assets/js/cart.js' %}"></script>
{% endblock scripts %}
    
    